<head> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
  <title>Everlywell</title> 

 	<br>
  <div class="main">
		<nav class="breadcrumb is-large" aria-label="breadcrumbs">
		  <ul>
		    <li><%= link_to 'Home', members_path%></li>
		    <li><%= link_to 'New Member', new_member_path%></li>
		  </ul>
		</nav>
	</div>
	<br>
</head>